<% @cats.each do |cat| %>
  <h3><%= link_to cat.name, cat_url(cat) %></h3>
<% end %>
<% if current_user %>
<%= link_to "Create a cat", new_cat_url %>
<%= link_to "Make a rental request", new_cat_rental_request_url %>
<% end %>

<% content_for :footer do %>
  <p>This is the cats index page.</p>
<% end %>
